<div class="sidemenu">
  <div class="sidemenu-contents">
    <ul class="accordion-menu">
      <li>
        <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i> History
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <ul class="submenuItems">
          <li><a href="#">History book 1</a></li>
          <li><a href="#">History book 2</a></li>
          <li><a href="#">History book 3</a></li>
        </ul>
      </li>
      <li>
        <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i> Fiction
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <ul class="submenuItems">
          <li><a href="#">Fiction book 1</a></li>
          <li><a href="#">Fiction book 2</a></li>
          <li><a href="#">Fiction book 3</a></li>
        </ul>
      </li>
      <li>
        <div class="dropdownlink"><i class="fa fa-quote-left" aria-hidden="true"></i> Fantasy
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <ul class="submenuItems">
          <li><a href="#">Fantasy book 1</a></li>
          <li><a href="#">Fantasy book 2</a></li>
          <li><a href="#">Fantasy book 3</a></li>
        </ul>
      </li>
      <li>
        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i> Action
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <ul class="submenuItems">
          <li><a href="#">Action book 1</a></li>
          <li><a href="#">Action book 2</a></li>
          <li><a href="#">Action book 3</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
