<div class="sidemenu">
  <div class="sidemenu-contents">
    <ul>
      <li>
        <a href="/hp/about/">About Us</a>
      </li>
      <li>
        <ul>
          <li><a href="/hp/neuroscience/">神経科学</a></li>
          <li><a href="/hp/machine-learning/">機械学習</a></li>
          <li><a href="/hp/statistics/">統計学</a></li>
          <li><a href="/hp/medicine/">医学</a></li>
          <li><a href="/hp/chemistry/">化学</a></li>
          <li><a href="/hp/physics/">物理学</a></li>
          <li><a href="/hp/mathematics/">数学</a></li>
          <li><a href="/hp/programming/">Programming</a></li>
          <li><a href="/hp/computer/">Computer</a></li>
          <li><a href="/hp/reading/">読書</a></li>
          <li><a href="/hp/essay/">エッセイ</a></li>
        </ul>
      </li>
      <li>
        <a href="/hp/search/">Search</a>
      </li>
      <li>
        <a href="/hp/categories/">Tags</a></div>
      </li>
    </ul>
  </div>
</div>

<div class="trigger">
