/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
h1{
  font-weight:bold;
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-bottom: 2px solid #ccc;
}

h2{
	font-weight:bold;
  padding: 0rem 1rem;
  margin: 3rem 0 1rem 0;
  text-align: left;
  border-left: 6px solid #126ca7;
  border-bottom: 3px solid #126ca7;
}

h3{
	font-weight:bold;
	padding: .25em 0 .25em .75em;
  border-left: 6px solid #ccc;
}

h4 {
  font-weight: bold;
}

.wrapper {
  max-width: calc(1200px - (30px * 2));
}

.section-nav {
    padding: 0.5em 1em;
    padding-left: 30px;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.section-nav a{
    font-size: 16px;
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight";
