/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
.page-content{font-size: 14px!important;}
.page-content p{font-size: 16px!important;}
.page-content li{font-size: 16px!important;}


h1{font-size: calc(16px*1.7)!important;}
h2{font-size: calc(16px*1.5)!important;}
h3{font-size: calc(16px*1.25)!important;}

h1{
  font-weight:bold;
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-bottom: 2px solid #ccc;
}

h2{
	font-weight:bold;
  padding: 0rem 1rem;
  margin: 3rem 0 1rem 0;
  text-align: left;
  border-left: 6px solid #ccc;
  border-bottom: 3px solid #ccc;
}

h3 {
    color: #010101;
    border-left: solid 0px!important;
    border-bottom: solid 3px #C6CEC7;
    padding-left: 0!important;
    position: relative;
}

h3:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #1aac81;
    bottom: -3px;
    width: 20%;
}

h4{
	font-weight:bold;
	padding: .25em 0 .25em .75em;
  border-left: 6px solid #ccc;
}


.wrapper {
  position: relative!important;
  max-width: 950px;
}

.section-nav {
    padding: 0.5em 1em;
    padding-left: 30px;
    margin: 2em 0;
    border: solid 3px #16a085;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.section-nav a{
    font-size: 16px;
}

.site-header{
    background-color: #2c3e50;
    border-bottom: solid 10px #16a085;
    color: #FFF;
    position: -webkit-sticky!important;
    position: sticky!important;
    z-index: 999!important;
    top: 0!important;
}

.site-title {
    color: #FFF!important;
}

.page-link {
    color: #FFF!important;
}

body {
    font-size: 16px!important;
}

.highlight pre, .highlight code {
    background: #364549!important;
    color: #f8f8f2;
	font-size: 14px!important;
}

.language-python highlighter-rouge{
	margin: 10px;
}

.highlight .n {color: #dddddd!important; background: none!important;}
.highlight .nf {color: #8bdf4c!important; background: none!important;}
.highlight .nt {color: #8bdf4c!important; background: none!important;}
.highlight .m {color: #dddddd!important; background: none!important;}
.highlight .nn {color: #dddddd!important; background: none!important;}
.highlight .nb {color: #ebd247!important; background: none!important; font-style: normal!important;}
.highlight .o {color: #e18095!important;}
.highlight .ow {color: #e18095!important;}
.highlight .p {color: #dddddd!important;}
.highlight .mf {color: #dddddd!important;}
.highlight .k {color: #ebd247!important;}
.highlight .kc {color: #ebd247!important;}
.highlight .kn {color: #e18095!important;}
.highlight .kt {color: #ebd247!important;}
.highlight .kp {color: #ebd247!important;}
.highlight .mi {color: #a980f5!important;}
.highlight .m {color: #a980f5!important;}
.highlight .s {color: #41b7d7!important;}
.highlight .si {color: #41b7d7!important;}
.highlight .sb {color: #41b7d7!important;}
.highlight .se {color: #a980f5!important;}
.highlight .s1 {color: #41b7d7!important;}
.highlight .s2 {color: #41b7d7!important;}
.highlight .c {color: #9dabae!important;}
.highlight .cp {color: #ebd247!important;}
.highlight .c1 {color: #9dabae!important;}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #252525;
    background-color: rgba(0,0,0,.03);
    border: 0px;
    border-radius: 0px;
}

/*topへ戻るボタン*/
.pagetop{
  width: 50px;
  height: 50px;
  position: fixed;
	display: none;
  right: 5px;
  bottom: 0;
  background: #c8c8c8;
  border-radius: 5px;
  border: 1px solid #323232;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .pagetop{
	right: 20px;
	bottom: 10px;
  }
}

.pagetop a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.pagetop a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
	bottom: 10px;
	right: 1px;
	left: 0;
  margin: auto;
  text-align: center;
}

.pagetop:hover{
  background-color:#969696;
}


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight";

.site-nav .menu-icon > svg path {
    fill: #FFF;
}

/* top menu*/
.site-nav {
  position: absolute;
  top: 0px;
  border: 1px solid #FFF!important;
  border-radius: 5px;
  text-align: left;
  background: #2c3e50;
  margin: 9px 10px 10px 10px;
  opacity: 0.9;
	max-width: none;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: inline!important;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }

  label[for="nav-trigger"] {
    display: block!important;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    display: inline-block;
    padding: 5px 10px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }
}

.youtube iframe {
  position: relative;
  max-width: 90vw!important;
  max-height: calc(90vw * 0.75)!important;
  display: block;
  margin: auto;
}

.post img {
    max-width: min(100vw, 500px);
}
