---
layout: default
---

<ul class="menupc">
  <li class="menu__mega">
    <a class="page-link" href="/hp/about/">About Us</a></li>
  <li class="menu__mega">
    <a href="#" class="page-link">Blog</a>
    <ul class="menu__second-level">
      <a class="page-link" href="/hp/neuroscience/">神経科学</a>
      <a class="page-link" href="/hp/machine-learning/">機械学習</a>
      <a class="page-link" href="/hp/statistics/">統計学</a>
      <a class="page-link" href="/hp/medicine/">医学</a>
      <a class="page-link" href="/hp/chemistry/">化学</a>
      <a class="page-link" href="/hp/physics/">物理学</a>
      <a class="page-link" href="/hp/mathematics/">数学</a>
      <a class="page-link" href="/hp/programming/">Programming</a>
      <a class="page-link" href="/hp/computer/">Computer</a>
      <a class="page-link" href="/hp/reading/">読書</a>
      <a class="page-link" href="/hp/essay/">エッセイ</a>
    </ul>
  </li>
  <li class="menu__mega">
    <a class="page-link" href="/hp/search/">Search</a>
  </li>
  <li class="menu__mega">
    <a class="page-link" href="/hp/categories/">Tags</a>
  </li>
</ul>
